@import "tailwindcss";

:root {
  --darkestGrey: rgb(51, 51, 51);
  --mainCyan: rgba(20, 145, 155);
}

@layer components {
  .hero {
    position: relative;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media screen and (min-width: 768px) {
    .hero {
      gap: 6rem;
      min-height: 70%;
    }
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assets/heroImg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    max-width: 100%;
    opacity: 0.5;
  }

  @media screen and (min-width: 1024px) {
    .hero::before {
      left: 50%;
      right: 0;
      max-width: 50%;
    }
  }

  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mainCyan);
    opacity: 0.9;
    z-index: -2; /* Make sure it's above the background image */
  }

  .hero-img {
    width: 50%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}
