@import "tailwindcss";

:root {
  --darkestGrey: rgb(51, 51, 51);
  --mainCyan: rgba(20, 145, 155);
}

@layer components {
  .parent {
    position: relative;
    height: 60%;
    display: flex;
    flex-direction: column;
  }

  .parent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assets/heroImg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
  }
  .parent::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mainCyan);
    opacity: 0.9;
    z-index: -1; /* Make sure it's above the background image */
  }
}
